@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{text-align: center;
/* il me manquer texte tranform uppercase */
text-transform: uppercase;
font-family: 'Press Start 2P', cursive; 

}
a{
 color: black;
/* j'ai oublié le font-weight */
font-weight: bold;

}

em{
    color: #168314d6;

}